@font-face {
    font-family: is;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/isansl.eot');
    src: url('../fonts/isansl.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/isansl.woff') format('woff');
}

@font-face {
    font-family: is;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/isans.woff') format('woff');
}

@font-face {
    font-family: is;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/isans-m.woff') format('woff');
}

@font-face {
    font-family: is;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/isans-b.woff') format('woff');
}

*,table *{
    font-family: is;
    direction: rtl;
    text-align: right;
}

table.noVpad td, table.noVpad th{
    padding-right: 0;
    padding-left: 0;
}
.clear{
    clear: both !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.bordered{
    border:1px solid #e1e1e1;
}

table {
    margin-bottom: 1.5rem ;
}

code,pre{
    text-align: left !important;
    direction: ltr !important;
}
body{
    margin: 2em !important;
    color: #3e4d58 ;
}

/* Colors */
.colBlack, .colBlack * {
    color: #333 !important;
}

.colWhite, .colWhite * {
    color: #fff !important;
}

.colSilver, .colSilver * {
    color: #bdc3d3 !important;
}

.colLightSky, .colLightSky * {
    color: #b4c9d7 !important;
}

.colSky, .colSky * {
    color: #2ea6d8 !important;
}

.colGreen, .colGreen * {
    color: #58ba01 !important;
}

.colOrange, .colOrange * {
    color: #f9a63e !important;
}

.colRed, .colRed * {
    color: #e15342 !important;
}
.bold{
    font-weight: 700;
}
.ltr {
    direction: ltr !important;
}

.rtl {
    direction: rtl !important;
}

.text-center, .text-center * {
    text-align: center !important;
}

.text-left, .text-left * {
    text-align: left;
}

.text-right, .text-right * {
    text-align: right;
}

.row .column{
    border:1px solid #eee;
}

/* php2.exp styles */
.widget,.postBox{
    background: #eee;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 5px;
}
.widget-login{
    background: #dbf4db;
}
.widget-title,.postBox-title {
    font-weight: bold;
    border-bottom: 1px dashed #fff;
    padding-bottom: 5px;
}

.widget-body,.postBox-body.access_locked {
    text-align: center;
    color: darkred;
}
.widget-body,.postBox-body {
    padding-top: 5px;
    font-size: 14px;
}

.column.header,.column.footer {
    padding: 30px;
    font-size: 10px;
    font-weight: 200;
    background: #eee;
}
.pagination a.button {
    padding: 3px 5px !important;
    height: 26px;
    line-height: 20px;
    border-radius: 50px;
    min-width: 24px;
}

.button.button-red{
    background-color: #992121;
    border-color: #992121;
}
.button:hover{
    opacity: 0.7 !important;
}

p.moreLinkP{
    text-align: left;
    padding: 0;
    margin: 0;
}

.button.button-fw{
    width: 100%;
    background: #367daf;
    border-color: #367daf !important;
    margin: 10px auto 0 auto;
}