#main{
    background: #eeeeee;
    padding: 20px
}
.header,.content{
    background: #fff;
}
.header{
    height: 100px;
}
.content{
    float: left;
    width: 75%;
}
.sidebar{
    float: left;
    width: 25%;
    background: #d4dbf2;
}
.footer{
    background: #b9b2f1;
}
.clear,.clearfix{
    clear: both;
}